[mysqld]
default_authentication_plugin=mysql_native_password
performance_schema=off

character_set_server=utf8mb4
max_allowed_packet=128M
max_connections=1000
max_connect_errors=18446744073709551615
sort_buffer_size=1M
read_buffer_size=512K
read_rnd_buffer_size=1M
join_buffer_size=512K
table_open_cache=5000
table_definition_cache=2500
thread_cache_size=100
max_heap_table_size=150M
tmp_table_size=150M
innodb_autoextend_increment=100
innodb_buffer_pool_size=500M
innodb_log_file_size=2G
innodb_flush_method=O_DIRECT
innodb_file_per_table
innodb_print_all_deadlocks
innodb_buffer_pool_dump_at_shutdown=1
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_pct=100
innodb_flush_log_at_trx_commit=2
